@import '../../../styles/variable.scss';
@import '../../../styles/mixins.scss';

.container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  padding: 15px 30px;
  border-bottom: 1px solid $border_color;
  input{
    @include input;
    width: 70%;
  }
  .icon{
    cursor: pointer;
  }
}