@import "../../../../styles/variable.scss";
@import "../../../../styles/mixins.scss";

.container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr;
  padding: 15px 30px;
  border-bottom: 1px solid $border_color;
  .editInput {
    width: 90%;
    align-self: center;
  }
  div {
    align-self: center;
    &.displayImgWrapper {
      border: 1px solid $border_color;
      width: max-content;
      img {
        max-height: 90px;
      }
    }
  }
  .icon {
    cursor: pointer;
  }
}
