@import "../../styles/variable.scss";

.body {
  font-size: $font_size_primary;
  .listHead {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    padding: 15px 30px;
    border-bottom: 1px solid $border_color;
    .filterIcon {
      justify-self: center;
    }
  }
}
