$padding_1: 30px;

$margin_right: 15px;

$margin_bottom_1: 80px;
$margin_bottom_2: 20px;

$font_size_primary: 20px;
$font_size_h1: 35px;

$font_color_grey: rgb(83, 83, 83);

$border_color: rgb(201, 201, 201);

$border_radius_1: 10px;

$bg_color_grey: rgb(83, 83, 83);
