@import "../../styles/variable.scss";

.container {
  .header {
    padding: $padding_1;
    border-bottom: 1px solid $border_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: $font_size_h2;
    }
    .iconWrapper {
      display: flex;
      align-items: center;
      font-size: $font_size_primary;
      color: #fff;
      border-radius: $border_radius_1;
      padding: 10px 20px;
      background: $bg_color_grey;
      cursor: pointer;
      .icon {
        margin-right: $margin_right;
      }
    }
  }
}
