.createProductForm {
  .formItem {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    margin-bottom: 10px;
    .label {
      align-self: center;
    }
  }
}

// @media (max-width: 576px) {
//   .createBrandForm {
//     div {
//       grid-template-columns: 2fr 3.5fr;
//     }
//   }
// }
