@import "../../../../styles/variable.scss";

.createProductForm {
  .formItem {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    margin-bottom: 10px;
    .label {
      align-self: center;
    }
    input {
      background: #202937;
      height: 40px;
      border-radius: $border_radius_1;
      padding: 10px;
      color: #fff;
      font-size: 15px;
    }
    .selectWrapper {
      position: relative;
      color: #fff;
      font-size: 15px;
      .select {
        background: #202937;
        border-radius: $border_radius_1;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon {
          transform: rotate(180deg);
          transition: 0.3s;
          &.active {
            transform: rotate(0);
          }
        }
      }
      .options {
        position: absolute;
        width: 100%;
        background: #202937;
        max-height: 90px;
        border-radius: $border_radius_1;
        overflow-y: overlay;
        .option {
          height: 40px;
          display: flex;
          gap: 10px;
          align-items: center;
          padding: $border_radius_1;
          cursor: pointer;
          &:hover{
            background: $bg_color_grey;
          }
          div{
            height: 100%;
            img{
              height: 100%;
            }
          }
        }
      }
    }
    .uploadWrapper {
      background: #202937;
      max-width: 100%;
      min-height: 40px;
      line-height: 40px;
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
      label {
        color: #fff;
        font-size: 15px;
        cursor: pointer;
      }
      .imgWrapper {
        padding-top: 10px;
        img {
          max-width: 100%;
        }
      }
    }
  }
}

// @media (max-width: 576px) {
//   .createBrandForm {
//     div {
//       grid-template-columns: 2fr 3.5fr;
//     }
//   }
// }
